repos:
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        language: system
        pass_filenames: false
        entry: bash -lc 'source .venv/bin/activate PYTHONPATH=".:src:${PYTHONPATH}"; python -m pytest -q'